
.add{
    animation: slide 1.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards ;
    transform: translateY(-100%);
}

.invt{
    animation: slide 1.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards ;
    transform: translateX(-100%);
}

.flist{
    animation: slide 1.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards ;
    transform: translateY(-100%);
}

@keyframes slide {
  to {
   transform: translateY(0%);
  }
}


.notification {
    display: none;
    position: absolute;
    top: 100px;
    width: max-content;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #f4f6ff;
    color: #141619;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visiblity: hidden;
    animation: fade 3s linear forwards;
  }
  p {
    font-family: "Poppins", sans-serif;
  }
  .notification_progress {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: calc(100% - 10px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background-image: linear-gradient(to right, #539bdb, #3250bf);
    border-radius: inherit;
    animation: load 3s 0.25s linear forwards;
  }
  
  @keyframes fade {
    5% {
      opacity: 1;
      visiblity: visible;
      transform: translateY(0);
    }
    90% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes load {
    to {
      transform: scaleX(1);
    }
  }
  
  .notification.active {
    display: block;
  }